// wtf?
.navbar .nav>li {
  float: left;
}

.taskbar-composer {
	a, a:hover, a:focus, a:active {
		background: #8cb7e2 !important;
	}
}

*, 
*:active,
*:focus {
	outline: 0;
	outline-style: none;
	outline-width: 0;
	-moz-outline-width: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
*::-webkit-input-placeholder,
*:-moz-placeholder,
*::-moz-placeholder,
*:-ms-input-placeholder,
input[type=text]::-webkit-input-placeholder,
input[type=text]:-moz-placeholder {
	color: rgba(0,0,0,0.3);
	transition: color 0.2s linear 0s;
	-webkit-transition: color 0.2s linear 0s;
	-moz-transition: color 0.2s linear 0s;
}
input[type=text]:focus::-webkit-input-placeholder,
input[type=text]:focus:-moz-placeholder {
    color: rgba(0,0,0,0.2);
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
a {
	-webkit-transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s;
	transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s;
}
a:hover, 
a:focus {
	text-decoration: none;
	outline: 0;
	outline-style: none;
	outline-width: 0;
	-moz-outline-width: 0;
}
// pointer events
.disable-pointer-events,
.disable-pointer-events *,
.disabled {
	pointer-events: none;
}
.dpe {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	pointer-events: auto !important;
	z-index: 10000;
}

// gpu rendering
@gpu: translateZ(0);
._gpu {
	transform: @gpu;
	-webkit-transform: @gpu;
	-moz-transform: @gpu;
	-ms-transform: @gpu;
	-o-transform: @gpu; 
}

body {
	padding-top: 50px;
}

@media (max-width: 978px) {
  .container {
    padding: 0;
    overflow-x: hidden;
  }
}

.account-stats {
	.human-readable-number {
		font-size:20px;
	}
}

// everything
.everything {
	&.everything-faux {
		padding-top: 25px;
	}
	&.everything-faux,
	&.everything-faux * {
		font-family: "Blokk" !important;
		font-style: normal;
		font-weight: normal;
		letter-spacing: 1.5px;
		.content-navigation-item {
			letter-spacing: 1.5px !important;
		}
		.content-navigation-text {
			letter-spacing: .85px !important;
		}
		.communities-faux,
		.communities-faux * {
			.communities-item-title {
				overflow: hidden;
				//
			}
			.communities-item-name {
				letter-spacing: 1px !important;
			}
			.communities-item-stats {
				font-size: 12px !important;
				&:after {
					content: "-" !important;
				}
			}
		}
		.communities-faux {
			&:nth-child(1) {
				.opacity(.9);
			}
			&:nth-child(2) {
				.opacity(.75);
			}
			&:nth-child(3) {
				.opacity(.6);
			}
			&:nth-child(4) {
				.opacity(.55);
			}
			&:nth-child(5) {
				.opacity(.4);
			}
			&:nth-child(6) {
				.opacity(.3);
			}
			&:nth-child(7) {
				.opacity(.2);
			}
		}
	}
	
	.everything-communities,
	.everything-people {
		padding-top: 25px;
	}
}
.everything-search,
.everything-communitys,
.everything-community,
.everything-topic {
	//
}
.everything-topic {
	.everything-container {
	  //padding-top: 0;
	}
}

.content-navigation {
	border-bottom: 1px solid rgba(98, 106, 112, 0.15);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
	text-align: center;
	.content-navigation-item {
		border-bottom: 1px solid transparent;
		margin-bottom: -1px;
		padding: 5px 0;
		margin-right: 15px;
		display: inline-block;
		font-weight: 300;
		letter-spacing: -.04em;
		color: rgba(98, 106, 112, 0.4);
		font-size: 26px;
		&:hover:not(.active) {
			color: rgba(98, 106, 112, 0.74);
			border-bottom-color: rgba(98, 106, 112, 0.22);
		}
		&.active {
			font-weight: 700;
			color: rgb(98, 106, 112);
			border-bottom-color: rgba(98, 106, 112, 0.8);
		}
	}
	&.centered {
		border-bottom-color: transparent;
		margin-bottom: 30px;
		.content-navigation-item {
			margin: 0;
			display: block;
			text-align: center;
			&.active {
				border-bottom-color: transparent;
			}
		}
		+ .content-navigation {
			margin-bottom: 20px;
		}
	}
}
.content-navigation-text {
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 20px;
	display: block;
	color: rgba(98, 106, 112, 0.62);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
	font-weight: 400;
	.content-navigation-jump {
		float: right;
		font-size: 12px;
		font-weight: 500;
		margin-left: 10px;
		color: rgba(98,106,112,0.82);
		border-radius: 50px;
		padding: 4px 12px;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		background: rgba(168, 176, 188, 0.15);
		background: -webkit-linear-gradient(rgba(168, 176, 188, 0.2), rgba(168, 176, 188, 0.15));
		background: -moz-linear-gradient(rgba(168, 176, 188, 0.2), rgba(168, 176, 188, 0.15));
		background: -ms-linear-gradient(rgba(168, 176, 188, 0.2), rgba(168, 176, 188, 0.15));
		background: -o-linear-gradient(rgba(168, 176, 188, 0.2), rgba(168, 176, 188, 0.15));
		background: linear-gradient(rgba(168, 176, 188, 0.2), rgba(168, 176, 188, 0.15));
		
		// @todo: implement, see comment in template
		.opacity(.28); // __ disabled
		&:hover {
			color: rgba(98, 106, 112, 0.8);
		}
	}
}
.content-heading {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 45px;
	margin-top: 35px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
	color: rgba(98,106,112,1);
	position: relative;
	&:after {
		content: "";
		height: 1px;
		width: 12%;
		background: rgba(0, 0, 0, 0.1);
		left: 0;
		bottom: 0;
		right: 0;
		margin: 0 auto;
		margin-bottom: -15px;
		position: absolute;
		height: 1px;
		display: block;
	}
}

.content_separator {
	margin-bottom: 45px;
	position: relative;
	&:after {
		content: "";
		height: 1px;
		width: 40%;
		background: rgba(0, 0, 0, 0.1);
		left: 0;
		bottom: 0;
		right: 0;
		margin: 0 auto;
		margin-bottom: -15px;
		position: absolute;
		height: 1px;
		display: block;
	}
}
// not loggedin
.not-loggedin {
	position: fixed;
	left: 0;
	right: 0;
	top: 50px;
	bottom: 0;
	text-align: center;
	display: block;
	z-index: 100;
	//
	overflow: hidden;
	background: rgba(73, 82, 93, 0.92);
	.not-loggedin-wrapper {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		text-align: center;
		left: 0;
		right: 0;
		color: #fff;
		max-width: 500px;
		padding: 15px;
		margin: 0 auto;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
		.not-loggedin-welcome {
			font-size: 13px;
			font-weight: 600;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: rgba(255, 255, 255, 0.97);
			margin-bottom: 10px;
			display: block;
			@media only screen and (max-width: 992px), 
			only screen and (max-device-width: 992px) {
				font-size: 11px;	
			}
		}
		.not-loggedin-heading {
			font-size: 42px;
			margin: 5px -35px 35px -35px;
			line-height: 1.35;
			letter-spacing: -0.04em;
			font-style: normal;
			font-weight: 300;
			margin-top: 5px;
			@media only screen and (max-width: 992px), 
			only screen and (max-device-width: 992px) {
				font-size: 34px;
				margin: 5px 0 15px 0;
			}
			@media only screen and (max-width: 768px), 
			only screen and (max-device-width: 768px) {
				font-size: 26px;
				font-weight: 400;
			}
		}
		.not-loggedin-intent {
			display: block;
			position: relative;
			margin-top: 20px;
			a {
				color: #FFF;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				margin: 0 10px;
				display: inline-block;
				text-decoration: none;
			}
			.not-loggedin-btn {
				border: 1px solid rgba(255, 255, 255, 0.24);
				padding: 6px 14px;
				font-size: 14px;
				border-radius: 4px;
				background-color: rgba(255, 255, 255, 0.1);
				box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
				position: relative;
				i {
					position: relative;
					font-size: 26px;
					display: inline-block;
					color: rgba(255, 255, 255, 0.97);
					margin-top: 5px;
					@media only screen and (max-width: 768px), 
					only screen and (max-device-width: 768px) {
						position: absolute;
						left: 42px;
						top: 2px;
						font-size: 10px;
						
						//
						display: _block;
						display: none;
					}
				}
				&:hover {
					background-color: rgba(255, 255, 255, 0.2);
				}
				.not-loggedin-text {
					display: inline-block;   
					font-size: 14px;   
					font-weight: 500;      
					color: rgba(255,255,255,0.9);   
					text-align: left;
					float: right;
					margin-left: 12px;	
					@media only screen and (max-width: 768px), 
					only screen and (max-device-width: 768px) {
						margin-left: 0;
					}					
					&:before {
						content: "with";
						display: block;   
						font-size: 11px;
						font-weight: 500;   
						letter-spacing: .25px;   
						color: rgba(255,255,255,0.48);   
					}
				}
			}
		}
		.not-loggedin-footer {
			padding-top: 15px;
			max-width: 80%;
			margin: 25px auto 0 auto;
			color: rgba(255, 255, 255, 0.44);
			font-weight: 500;
			font-size: 12px;
			letter-spacing: 0;
			font-style: normal;
			.url {
				color: rgba(255, 255, 255, 0.65);
				margin-left: 7px;
				font-weight: 500;
				&:hover {
					color: rgba(255, 255, 255, 0.85);
				}
			}
		}
	}
}

// login
.login {
	.login-container {
		top: 50%;
		position: relative;
		transform: translateY(-50%);
		max-width: 500px;
		margin: 0 auto;
	}
}

// misc
.u-vh-100 {
	height: 100vh;
	overflow: hidden;
}
.u-align-m {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.u-offset {
	margin-right: 15px;
}

// button neutral
a.btn--n, 
.btn--n {
	font-size: 12px;
	text-decoration: none;
	padding: 1px;
	height: 28px;
	display: inline-block;
	line-height: normal;
	position: relative;
	top: 0;
	outline: none;
	border: none;
	background: #adb2bb;
	background: transparent;
	background: -webkit-linear-gradient(#ccd0d6, #adb2bb);
	background: -moz-linear-gradient(#ccd0d6, #adb2bb);
	background: -ms-linear-gradient(#ccd0d6, #adb2bb);
	background: -o-linear-gradient(#ccd0d6, #adb2bb);
	background: linear-gradient(#ccd0d6, #adb2bb);
	.border-radius(5px);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	-ms-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	-webkit-transition: -webkit-box-shadow .1s ease-in-out;
	-moz-transition: -moz-box-shadow .1s ease;
	-webkit-font-smoothing: antialiased;
	
	span {
		display: block;
		padding: 5px 17px;
		height: 26px;
		line-height: 16px;
		color: #333;
		text-shadow: 0 1px 0 #fff;
		background: #fafbfc;
		background: #f6f9fc;
		background: transparent;
		background: -webkit-linear-gradient(white, #eff1f4);
		background: -moz-linear-gradient(white, #eff1f4);
		background: -ms-linear-gradient(white, #eff1f4);
		background: -o-linear-gradient(white, #eff1f4);
		background: linear-gradient(white, #eff1f4);
		-webkit-box-shadow: inset 0 1px 0 white;
		-moz-box-shadow: inset 0 1px 0 white;
		-ms-box-shadow: inset 0 1px 0 white;
		-o-box-shadow: inset 0 1px 0 white;
		box-shadow: inset 0 1px 0 white;
		.border-radius(4px);
		font-weight: 600;
		//
		cursor: pointer;
	}
	i {
		top: 1px;
		position: relative;
	}
	&:hover {
		background: #008cdd;
		-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 0 4px #28a0e5;
		-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 0 4px #28a0e5;
		-ms-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 0 4px #28a0e5;
		-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 0 4px #28a0e5;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 0 4px #28a0e5;
	}
	&:active {
		background: #008cdd;
		-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 0 4px #28a0e5;
		-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 0 4px #28a0e5;
		-ms-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 0 4px #28a0e5;
		-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 0 4px #28a0e5;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 0 4px #28a0e5;
		outline: none;
		span {
			color: #444;
			background: transparent;
			background: -webkit-linear-gradient(#e6e8eb, #eff1f4);
			background: -moz-linear-gradient(#e6e8eb, #eff1f4);
			background: -ms-linear-gradient(#e6e8eb, #eff1f4);
			background: -o-linear-gradient(#e6e8eb, #eff1f4);
			background: linear-gradient(#e6e8eb, #eff1f4);
			-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
			-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
			-ms-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
			-o-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
			box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
		}
	}
}
// button small
.btn--sm {
    font-size: 9px;
    letter-spacing: .25px;
    height: 24px;
	span {
	    height: 22px;
	    line-height: 12px;
	    padding: 5px 13px;
	}
}
.btn--l {
    font-size: 14px;
    height: 39px;
	span {
	    height: 37px;
	    line-height: 26px;
	}
}

.btn-spaces {
	border-color: rgba(255, 255, 255, 0.9);
	color: rgba(255, 255, 255, 0.9);
	&:hover, 
	&:active {
		color: #FFF;
		border-color: rgba(80,141,216,1);
		background: rgba(80,141,216,0.97);
	}
}

// space = shows single space
// spaces = shows all spaces
.everything-community,
.everything-profile {
	.everything-header {
		.box-shadow(none);
		position: relative;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		height: 320px;
		//
		&:before {
			position: absolute;
			width: 50%;
			left: 0;
			bottom: 0;
			border-bottom: 15px solid #e8ebef;
			//border-bottom: 15px solid #fff;
			border-right: 15px solid transparent;
			display: block;
			content: '';
		}
		&:after {
			position: absolute;
			left: 50%;
			bottom: 0;
			right: 0;
			border-bottom: 15px solid #e8ebef;
			//border-bottom: 15px solid #fff;
			border-left: 15px solid transparent;
			display: block;
			content: '';
		}
		
		+ .everything-container {
			//margin-left: 33.33333333%;
			@media only screen and (max-width: 992px), 
			only screen and (max-device-width: 992px) {
				//margin-left: inherit;
				//padding-top: 40px;
			}
		}
		@media only screen and (max-width: 992px), 
		only screen and (max-device-width: 992px) {
			position: relative;
			//height: 300px;
			.community-cover {
				//top: inherit;
				//transform: translateY(0);
				.community-name {
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					padding: 0 15px;
				}
			}
			.community-stats {
				//	
			}
		}
		
	}
}
.everything-profile {
	.everything-header {
		height: 320px;
	}
}
.everything-header,
.everything-container {
	padding-top: 25px;
}
.everything-container {
	//background-color: #e8ebef;
}
.everything-header {
	position: relative;
}
.everything-position,
.position {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}
.everything-cover,
.cover {
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.everything-img {
	z-index: -1;
	
	// background: rgba(0, 0, 0, 0.9);
	// use background-image (optionally)
	// use .everything-position

	&:before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(73, 82, 93, 0.46);
	}
	.everything-overlay {
		background: rgba(0, 0, 0, 0.32);
	}
	.everything-holder {
		// @todo: better blur effect for images
		-webkit-filter: blur(7px);
		filter: blur(7px);
		z-index: -1;
		// use background-image
		// use .everything-position
	}
	&.everything-img-withfilter {
		margin-left: -20px;
		margin-right: -20px;
		.opacity(.84);
		overflow: hidden;
	}
}

// common
.related {
	.related--gutter {
		.related--item {
			height: 120px;
			.related--img {
				
				// use background-image
				// use .everything-position 
				&:before {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background: rgba(0, 0, 0, 0.42);
				}
				.title {
					text-align: center;
					font-size: 18px;
					color: rgba(255, 255, 255, 0.97);
					font-weight: 700;
					
					//use .u-align-m
				}
			}
		}
	}
}
.disabled {
	.opacity(.24);
}
.separator {
	/*
	clear: both;
	position: absolute;
	left: -33%;
	width: 166%;
	border-top: 0 solid transparent;
	height: 100%;
	background: transparent;
	background-color: rgba(98,106,112,0.025);
	padding: 0;
	margin: 0;
	overflow: hidden;
	*/
	// &:before {
		/*
		content: "";
		clear: both;
		position: absolute;
		left: -33%;
		top: 0;
		width: 166%;
		border-top: 0 solid transparent;
		height: 104%;
		background: transparent;
		background-color: rgba(98,106,112,0.025);
		box-shadow: inset 0 0 0 1px rgba(98,106,112,0.2),inset 0 0 1px 3px rgba(98,106,112,0.08);
		padding: 0;
		margin: 0;
		*/
	// }
	+ .users-container {
		margin-top: 1em;
		padding-top: 2em;
	}
}
.stacked {
	box-shadow: 0px 1px 0 rgba(0,0,0,0.1),0px -1px 0 rgba(0,0,0,0.1),1px 0 0 rgba(0,0,0,0.1),-1px 0 0 rgba(0,0,0,0.1),0px 3px 0 -1px #fff,0px 4px 0 -1px rgba(0,0,0,0.125),0px 6px 0 -2px #fff,0px 7px 0 -2px rgba(0,0,0,0.15),0px 9px 0 -3px #fff,0px 10px 0 -3px rgba(0,0,0,0.175),0px 8px 6px -1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 0 rgba(0,0,0,0.1),0px -1px 0 rgba(0,0,0,0.1),1px 0 0 rgba(0,0,0,0.1),-1px 0 0 rgba(0,0,0,0.1),0px 3px 0 -1px #fff,0px 4px 0 -1px rgba(0,0,0,0.125),0px 6px 0 -2px #fff,0px 7px 0 -2px rgba(0,0,0,0.15),0px 9px 0 -3px #fff,0px 10px 0 -3px rgba(0,0,0,0.175),0px 8px 6px -1px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0px 1px 0 rgba(0,0,0,0.1),0px -1px 0 rgba(0,0,0,0.1),1px 0 0 rgba(0,0,0,0.1),-1px 0 0 rgba(0,0,0,0.1),0px 3px 0 -1px #fff,0px 4px 0 -1px rgba(0,0,0,0.125),0px 6px 0 -2px #fff,0px 7px 0 -2px rgba(0,0,0,0.15),0px 9px 0 -3px #fff,0px 10px 0 -3px rgba(0,0,0,0.175),0px 8px 6px -1px rgba(0,0,0,0.25);
	-o-box-shadow: 0px 1px 0 rgba(0,0,0,0.1),0px -1px 0 rgba(0,0,0,0.1),1px 0 0 rgba(0,0,0,0.1),-1px 0 0 rgba(0,0,0,0.1),0px 3px 0 -1px #fff,0px 4px 0 -1px rgba(0,0,0,0.125),0px 6px 0 -2px #fff,0px 7px 0 -2px rgba(0,0,0,0.15),0px 9px 0 -3px #fff,0px 10px 0 -3px rgba(0,0,0,0.175),0px 8px 6px -1px rgba(0,0,0,0.25);
	-ms-box-shadow: 0px 1px 0 rgba(0,0,0,0.1),0px -1px 0 rgba(0,0,0,0.1),1px 0 0 rgba(0,0,0,0.1),-1px 0 0 rgba(0,0,0,0.1),0px 3px 0 -1px #fff,0px 4px 0 -1px rgba(0,0,0,0.125),0px 6px 0 -2px #fff,0px 7px 0 -2px rgba(0,0,0,0.15),0px 9px 0 -3px #fff,0px 10px 0 -3px rgba(0,0,0,0.175),0px 8px 6px -1px rgba(0,0,0,0.25);
}
.joined {
    font-weight: 500;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: -12px;
    right: -12px;
    height: 80px;
    width: 80px;
    line-height: 52px;
    font-size: 11px;

    z-index: 6;
    color: rgba(255, 255, 255, 0.65);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.14);
	.joined-container {
	    height: 0px;
	    width: 0px;
	    border: 40px solid rgba(17, 134, 202, 1);
	    border-top-color: transparent;
	    border-left-color: transparent;
	    border-right-color: transparent;
	    position: absolute;
	    top: -40px;
	    left: 0px;
	}
	.joined-text {
		position: relative;
		font-weight: 700;
		text-indent: -10px;
	}
}

// community
.community-block {
	display: block;
	position: relative;
	.btn-follow,
	.btn-following,
	.community-follow-btn,
	.community-following-btn {
		border-color: rgba(255,255,255,0.9);
		color: rgba(255,255,255,0.9);
		background: rgba(255,255,255,0.16);
		font-weight: 700;
		font-size: 12px;
		margin: 0;
		text-align: center;
		box-shadow: 0 0 0 0 rgba(0,0,0,0.14),0 0 1px 1px rgba(0,0,0,0.18);
		padding: 7px 14px;
		overflow: visible;
		line-height: 20px;
		border: 1px solid rgba(255,255,255,0.18);
		.border-radius(4px);
		color: rgba(255,255,255,0.97);
		position: relative;
		top: 0;
		display: inline-block;
		text-decoration: none;
		margin-bottom: 15px;
		margin-top: 5px;
	}
	.btn-follow,
	.community-follow-btn,
	.community-follow-btn[data-following="0"] {
		/* we don't need this
		border-color: rgba(255,255,255,0.9);
		color: rgba(255,255,255,0.9);
		*/
		&:hover {
			color: #fff;
			border-color: rgba(80, 142, 217, 0.8);
			background: rgba(80,141,216,0.8);
		}
	}
	.btn-following,
	.community-following-btn,
	.community-follow-btn[data-following="1"] {
		color: #fff;
		border-color: #508dd8;
		background: rgba(80,141,216,0.97);
		/* we don't need this
		&:active,
		&:focus {
			color: rgba(80, 141, 216, 1);
			border-color: rgba(255, 255, 255, 0.9);
			background: rgba(255, 255, 255, 0.97);
		}*/
	}
}
.community-follow-btn,
.community-following-btn {
	.numerical {
		padding-left: 10px;
		padding-right: 0px;
		position: relative;
		display: inline-block;
		margin-left: 6px;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			height: 100%;
			width: 1px;
			background: rgba(255, 255, 255, 0.2);
		}
	}
	&:hover {
		.numerical {
			&:before {
				color: rgba(80,141,216,0.2);
			}
		}
	}
}

.community-cover {
	position: relative;
	height: 100%;
	display: block;
	.community-title {
		text-align: center;
		display: block;
		color: #fff;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		h1 {
			font-weight: 700;
			font-size: 50px;
			letter-spacing: -0.04em;
			max-width: 500px;
			margin: 0 auto;
			line-height: 64px;
			margin-bottom: 12px;
			font-family: @font-family-sans-serif;
			overflow: hidden;
			word-break: break-word;
			text-overflow: ellipsis;
			white-space: nowrap;
			//
			text-shadow: 0 1px 0 rgba(0,0,0,0.14);
			@media only screen and (max-width: 992px), 
			only screen and (max-device-width: 992px) {
				font-size: 44px;
			}
			@media only screen and (max-width: 768px), 
			only screen and (max-device-width: 768px) {
				font-size: 38px;
			}

			.community-subtitle {
				font-size: 12px;
				display: block;
				line-height: 1;
				font-weight: 500;
				color: rgba(255,255,255,0.65);
				letter-spacing: .25px;
				text-transform: uppercase;
				font-family: @font-family-sans-serif;
			}
		}
	}
	.community-links {
		margin-top: 20px;
		//border-top: 1px solid rgba(255, 255, 255, 0.2);
		padding-top: 10px;
		position: relative;
		a {
			&:active,
			&.active {
				color: #fff;
			}
			text-align: center;
			color: rgba(255, 255, 255, 0.85);
			&:hover,
			&:focus {
				color: #fff;
				cursor: pointer;
			}
		}
	}
}
.community-stats {
	position: relative;
	color: #fff;
	text-align: center;
	padding: 0 15px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.14);
	margin: 0 auto;
	margin-top: 15px;
	display: block;
	max-width: 500px;
	bottom: 0;
	left: 0;
	right: 0;
	@media only screen and (max-width: 992px), 
	only screen and (max-device-width: 992px) {
		//
	}
    &:before {
		//content: "";
		position: absolute;
		top: -30px;
		left: 15%;
		right: 15%;
		height: 1px;
		//background-color: rgba(255, 255, 255, 0.1);
    }
    .count {
		text-align: center;
		font-size: 24px;
		font-weight: 300;
		color: rgba(255, 255, 255, 0.85);
		float: left;
		width: 33.33333333%;
		position: relative;
		&:before {
		    content: "";
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			padding: 0 10px;
			font-size: 10px;
			letter-spacing: .5px;
			font-weight: 700;
			color: rgba(255,255,255,0.4);
			text-transform: uppercase;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			display: block;
			margin-bottom: -4px;
		}
		&.contributors {
			&:before {
				content: "Contributors";
			}
		}
		&.followers {
			&:before {
				content: "Followers";
			}
		}
		&.conversations {
			&:before {
				content: "Conversations";
			}
		}
		&:hover {
			color: #FFF;
			&:before {
				color: rgba(255, 255, 255, 0.65);
			}
		}
	}
}
.community-links {
	border-top: 1px solid rgba(255, 255, 255, 0.15);
	left: 0;
	right: 0;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	margin-top: 0;
	position: absolute;
	bottom: 35px;
	text-align: center;
	a {
		color: rgba(255, 255, 255, 0.65);
		font-size: 14px;
		display: inline-block;
		height: 25px;
		border-top: 1px solid transparent;
		letter-spacing: 1px;
		margin-top: -1px;
		float: left;
		padding-top: 10px;
		width: 50%;
		font-weight: 400;
		text-transform: uppercase;
		&.active {
			border-top: 1px solid rgba(255, 255, 255, 0.97);
			color: rgba(255, 255, 255, 0.97);
			font-weight: 700;
			&:hover {
				color: #FFF;
			}
		}
		&:hover {
			color: rgba(255, 255, 255, 0.85);
		}
	}
}

.community-conversations {
	padding-left: 0;
}

.community-card-cover {

	padding-left: 0;
	margin-bottom: 2.5em;
  height: 322px;
	// hover state
	&:hover {
		.community-card-container {
			-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05),0 0 4px #28a0e5,0 0 0 1px #008cdd;
			-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.05),0 0 4px #28a0e5,0 0 0 1px #008cdd;
			-ms-box-shadow: 0 1px 0 rgba(0,0,0,0.05),0 0 4px #28a0e5,0 0 0 1px #008cdd;
			-o-box-shadow: 0 1px 0 rgba(0,0,0,0.05),0 0 4px #28a0e5,0 0 0 1px #008cdd;
			box-shadow: 0 1px 0 rgba(0,0,0,0.05),0 0 7px #28a0e5,0 0 0 1px #008cdd;
			cursor: pointer;
		}
	}
	.community-card-container {
		margin-right: 2px;
		margin-left: 2px;
		background: #fff;
		//height: 362px;
		padding: 10px;
		position: relative;
		border-width: 1px;
		border-style: solid;
		border-color: #eee #ddd #bbb;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		cursor: pointer;
		overflow: visible;
		box-shadow: rgba(0,0,0,0.15) 0 1px 3px;
		.community-card-img {
			position: relative;
			margin-top: -11px;
			margin-left: -11px;
			margin-right: -11px;
			margin-bottom: 9px;
			
			/*height: 147px;*/
      min-height: 220px;
			display: block;
			// overflow: hidden;
			
			-webkit-border-top-left-radius: 4px;
			-webkit-border-top-right-radius: 4px;
			-moz-border-radius-topleft: 4px;
			-moz-border-radius-topright: 4px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			
			background-position: center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			
			&:before {
				content: '';
				-webkit-border-top-left-radius: 4px;
				-webkit-border-top-right-radius: 4px;
				-moz-border-radius-topleft: 4px;
				-moz-border-radius-topright: 4px;
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: block;
				background-repeat: repeat-x;
				/*background-color: rgba(73, 82, 93, 0.46);*/
			}
			&.with-img {
				.community-card-title,
				.community-card-title h3 {
					/*color: #fff;*/
					/*text-shadow: 0 1px rgba(0,0,0,0.14);*/
				}
			}
			.community-card-meta {
				position: absolute;
				bottom: 5px;
				right: 0;
				color: rgba(255, 255, 255, 0.97);
				text-shadow: 0 1px 0 rgba(0,0,0,0.14);
				.opacity(.86);
				.numerical {
					color: rgba(255, 255, 255, 0.97);
				}
				&:hover {
					.opacity(1);
				}
			}
		}
		
		.community-card-inner {
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			height: 100%;
			right: 0;

      // new content + hover state
      &.is-new,
      &:hover {
        .community-card-article-title {
          color: rgba(52, 152, 219,.97);
        }
        .community-card-comments {
          color: #FFF;
          z-index: 1;
          font-weight: 600;
          &:before {
            content: "\E060";
            color: rgba(52, 152, 219,.97);
            z-index: -1;
          }
        }
      }

		}
		.community-card-time {
			font-size: 10px;
      color: #bbb;
			font-weight: 200 !important;
			float: right;
			position: relative;
			/*margin-top: 8px;*/
			margin-right: 0;
			right: 0;
			display: block;
			text-align: right;
			/*color: rgba(255,255,255,0.8) !important;*/
		}
		.community-card-actions {
			top: 8px;
			right: 10px;
			left: 0;
			position: absolute;
			.community-card-btn {
				background: rgba(255,255,255,0.16);
				font-weight: 600;
				font-size: 12px;
				margin: 0;
				text-align: center;
				box-shadow: 0 0 0 0 rgba(0,0,0,0.14),0 0 1px 1px rgba(0,0,0,0.18);
				padding: 7px 10px;
				overflow: visible;
				line-height: 20px;
				border: 1px solid rgba(255,255,255,0.18);
				.border-radius(5px);
				color: rgba(255,255,255,0.97);
				position: relative;
				top: 0;
				height: 30px;
				display: inline-block;
				text-decoration: none;
				float: right;
				margin-left: 7px;
				&:hover {
					background-color: rgba(255,255,255,0.28);
				}
				span {
					margin-left: 2px;
					font-size: 12px;
					position: relative;
					top: -3px;
					padding-right: 2px;
					i {
						position: relative;
						top: 2px;
						margin-right: 3px;
						font-size: 12px;
					}
				}
			
				&.community-card-jot {
					padding-right: 0;
					position: relative;
					background-color: rgba(80,141,216,0.9);
					border-color: rgba(80,141,216,0.97);
					&:hover {
						background-color: rgba(80,141,216,0.97);
						border-color: rgba(80,141,216,1);
					}
					.textual {
						&.jot {
							//
						}
					}
 				}
				.numerical {
					position: relative;
					/* background: rgba(255,255,255,0.08); */
					padding: 0 4px;
					padding-right: 10px;
					padding-left: 8px;
					margin-left: 8px;
					color: rgba(255,255,255,0.97);
					display: inline-block;
					min-width: 24px;
					height: 30px;
					margin-right: -2px;
					margin-top: -5px;
					line-height: 30px;
					right: 0;
					z-index: 1;
					float: right;
					font-size: 10px;
					-webkit-border-top-right-radius: 5px;
					-webkit-border-bottom-right-radius: 5px;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					border-left: 1px solid rgba(255,255,255,0.08);
					font-weight: 700;
					border-left: 0;
					&:before {
						content: "";
						height: 100%;
						width: 100%;
						border-left: 1px solid rgba(0, 0, 0, 0.075);
						background: rgba(0, 0, 0, 0.04);
						position: absolute;
						left: -1px;
						top: 0;
						box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.03);
						z-index: -1;
						-webkit-border-top-right-radius: 5px;
						-webkit-border-bottom-right-radius: 5px;
						-moz-border-radius-topright: 5px;
						-moz-border-radius-bottomright: 5px;
						border-top-right-radius: 5px;
						border-bottom-right-radius: 5px;
					}
				}
			}
		}
		.community-card-author {
			position: absolute;
			top: 8px;
			left: 10px;
			z-index: 2;
			border-radius: 999em;
			height: 44px;
			width: 44px;
			overflow: hidden;
			img {
				height: 100%;
				width: 100%;
				display: _inline-block;
				display: block;
			}
		}
		
		.community-card-article-title {
			font-size: 14px;
			font-weight: 600;
			line-height: 1.25;
			max-height: 80px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			text-align: left;
			// fixes long titles
			word-break: break-word;
			word-wrap: break-word;
		}

		.community-card-title,
		.community-card-title h3 {
			font-weight: 700;
			font-family: @font-family-sans-serif;
			margin: 0;
			padding: 0;
			color: rgba(73,82,93,0.62);
			font-size: 22px;
			line-height: 1.1;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			text-align: left;
			// max-height: 82px;
			overflow: hidden;
			* {
				font-style: normal;
				font-weight: 700;
				/*color: rgba(255, 255, 255, 0.97);*/
			}
		}
		.community-card-title {
			position: absolute;
			top: 10px;
			left: 0;
			right: 0;
			padding: 0 10px;
			//min-height: 74px;
      height: 160px;
			h3 {
				margin: 0;
				padding: 8px 12px;
				padding-bottom: 4px;
				display: block;
				font-size: 14px;
				font-weight: 700;
				letter-spacing: 0;
			}
			.community-card-said {
				margin-left: 44px;
        height: 64px;
			}
		}
		.community-card-meta {
			+ .community-card-title {
				bottom: 15px;
				left: 62px;
				right: 10px;
				overflow: visible;
			}
		}

		.community-card-content,
		.community-card-content * {
			font-size: 12px;
			font-weight: 500;
			font-style: normal;
			font-variant: normal;
			font-family: @font-family-sans-serif;
			margin: 0;
			padding: 0;
			letter-spacing: 0;
			line-height: 1.4;
			cursor: default;
			white-space: normal;
			background: none;
			border: none;
			word-break: normal;
			word-wrap: normal;
			text-align: left !important;
			max-height: 50px;
		}
		.community-card-content {
			overflow: hidden;
			position: relative;
			/*display: inline-block;*/
			/*float: left;*/
			/*padding: 0px 12px;*/
			padding-right: 0;
			margin-left: 0.5px;
      margin-top: 12px;
		}
		.community-card-content * {
			display: inline;
			word-break: break-word;
		}
		/*
		   NOTE:
		   Use better svg implementation,
		   or simple images for better 
		   cross browser compatibility.
		*/
		.community-card-cutter {
			position: absolute;
			left: -11px;
			right: -11px;
			top: -9px;
			&:after {
			    content: "";   
			    position: absolute;   
			    bottom: 0;   
			    left: 0;   
			    right: 0;   
			    height: 4px;
			    background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228px%22%20height%3D%224px%22%3E%3Cpolygon%20points%3D%220%2C4%204%2C0%208%2C4%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E");
			}
		}
		.community-card-comments {
			float: right;
			position: absolute;
			right: 12px;
			bottom: 4px;
			padding: 4px 0;
			font-size: 13px;
			font-weight: 500;
			text-align: center;
			display: block;
			min-width: 32px;
			height: 24px;
      color: rgba(73,82,93,0.62);
			&:before {
			    position: absolute;
			    content: "\E068";
			    font-family: "jotter-icons";
			    font-style: normal;    
			    font-weight: normal;    
			    font-variant: normal;    
			    text-transform: none;    
			    speak: none;        
			    -webkit-font-smoothing: antialiased;    
			    -moz-osx-font-smoothing: grayscale;
			    font-size: 36px;
			    display: block;
			    left: -2px;
          top: -12px;
			}
		}
		.community-card-views {
			font-size: 11px;
			font-weight: 500;
			letter-spacing: 0;
			/*top: 0;*/
			float: left;
			margin-left: 20px;
			position: absolute;
      bottom: 4px;
      left: 12px;
			color: rgba(73,82,93,0.54);
			i {
				position: absolute;
				left: -20px;
				font-size: 14px;
			}
		}
		.community-card-snippet {
			display: block;
			left: 0;
			right: 0;
			padding: 10px;
			bottom: 0;
			-webkit-border-bottom-right-radius: 4px;
			-webkit-border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px;
			height: 68px;
			a {
				text-shadow: 0 1px rgba(0,0,0,0.14);
			}
			.community-card-relation {
				position: relative;
				margin: 0;
				padding: 8px 0 4px 0;
				text-align: left;
				font-size: 13px;
				font-weight: 500;
				line-height: 16px;
				color: rgba(73,82,93,0.62);
				overflow: hidden;
				img {
					height: 32px;
					width: 32px;
					float: left;
					margin-right: 10px;
					margin-top: 1px;
					position: relative;
					.border-radius(100%);
				}
				.community-card-username {
					font-weight: 600;
					&:hover {
						color: rgba(80, 141, 216, 1);
					}
				}
				&:hover {
					.community-card-tag {
						.opacity(1);
					}
				}
			}
		}
		.community-card-footer {
			display: block;
			position: relative;
			left: 0;
			right: 0;
			/*padding: 10px 0;*/
      /*padding: 0 10px;*/
      padding: 0 2px 2px;
      margin: 0 -10px -10px -10px;
			bottom: 0;
			background-color: #f8f8f8;
			-webkit-border-bottom-right-radius: 4px;
			-webkit-border-bottom-left-radius: 4px;
      border-top: 1px solid #eee;
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px;
			height: 92px;
      img {
        /*max-width: 100px;*/
        max-height: 74px;
        float: left;
        margin-right: 8px;
      }
			.community-card-relation {
        opacity: 0.8;
        width: 100%;
        height: 100%;
        display: block;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        background-size: cover;
        border-top: 2px solid #fff;

        /*
				position: relative;
				margin: 0;
				padding: 8px 0 4px 0;
				background: #fff;
				border-top: 1px solid rgba(0,0,0,0.05);
				text-align: left;
				font-size: 13px;
				font-weight: 500;
				line-height: 16px;
				color: rgba(73,82,93,0.62);
				overflow: hidden;
				display: block;
				
				min-height: 50px;
				/*img {
					height: 32px;
					width: 32px;
					float: left;
					margin-right: 10px;
					margin-top: 1px;
					position: relative;
					.border-radius(100%);
				}
				.community-card-recommend {
					font-size: 13px;
					color: ;
					font-weight: 400;
				}
				.community-card-username {
					font-weight: 600;
					color: rgba(80, 141, 216, 1);
					&:hover {
						color: rgba(80, 141, 216, 1);
					}
				}
				.community-card-tag {
					color: #508dd8;
					.opacity(.8);
					background-color: rgba(80, 141, 216, 0.1);
					border: 1px solid rgba(80, 141, 216, 0.18);
					padding: 0px 5px;
					.border-radius(4px);
					margin-left: 1px;
					text-shadow: 0 1px 0 rgba(255, 255, 255, 0.38);
					font-size: 11px;
					font-weight: 500;
					display: inline-block;
					max-width: 134px;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					&:hover {
					    max-width: 100%;
					    display: block;
					    padding-right: 5px;
					}
					strong {
						color: rgba(80, 141, 216, 0.36);
						font-weight: 600;
						margin-right: 2px;
					}
				}
				&:hover {
					.community-card-tag {
						.opacity(1);
					}
				}
				.community-card-via {
					display: block;
					font-size: 13px;
					color: rgba(0, 0, 0, 0.44);
					line-height: 16px;
					.via-space {
						color: rgba(0, 0, 0, 0.44);
						font-weight: 600;
						border-bottom: 1px solid rgba(0, 0, 0, 0.08);
						letter-spacing: 0;
						text-transform: lowercase;
						&:not(:first-child) {
							margin-left: 5px;
						}
					}
				}*/
			}
      .source-attribution-link {
        /*position: absolute;*/
        /*bottom: 8px;*/
        /*right: 10px;*/
        font-size: 10px;
        color: #333;
        background-color: rgba(250, 250, 250, 0.7);
        display: block;
        width: 100%;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        line-height: 14px;
        position: relative;
        top: -14px;
        text-align: center;
      }

      &:hover {
        .source-attribution-link {
          color: rgba(52,152,219,0.97);
        }
      }
		}
	}
	.community-card-meta {
		padding-top: 6px;
		padding-right: 10px;
		margin-left: 5px;
		text-align: right;
		display: inline-block;
		float: right;
		color: rgba(73, 82, 93, 0.54);
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		font-size: 12px;
		position: relative;
		.numerical {
			background-color: rgba(255, 255, 255, 0.34);
			display: inline-block;
			min-width: 22px;
			font-size: 12px;
			padding: 2px 2px 1px 1px;
			text-align: center;
			font-weight: 700;
			line-height: 16px;
			position: relative;
			top: 0px;
			margin-left: 3px;
			.border-radius(4px);
			box-shadow: inset 0 0 1px rgba(114, 125, 150, 0.25), inset 0 1px 0 rgba(114, 125, 150, 0.25), 0 1px 0 rgba(255, 255, 255, 0.12);
		}
	}

}
.community-image-wrapper {
	background-color: rgba(73,82,93,0.46);   
	background-position: center;   
	-webkit-background-size: cover;   
	-moz-background-size: cover;  
	-o-background-size: cover;   
	background-size: cover;   
	.border-radius(3px);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	.opacity(.84);
	-webkit-transition: all 250ms cubic-bezier(0.335, 0.815, 0.47, 1);
	-moz-transition: all 250ms cubic-bezier(0.335, 0.815, 0.47, 1);
	-ms-transition: all 250ms cubic-bezier(0.335, 0.815, 0.47, 1);
	-o-transition: all 250ms cubic-bezier(0.335, 0.815, 0.47, 1);
	transition: all 250ms cubic-bezier(0.335, 0.815, 0.47, 1);
	&:before {
	    position: absolute;
	    left: 0;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    content: "";
	    background-color: rgba(73,82,93,0.46);
	}
}
.community-item-wrapper {
	&:hover {
		.community-image-wrapper {
			.opacity(.6);
		}
	}
}

.community-item {
	height: 242px;
	margin-bottom: 2em;
	position: relative;
}
.community-item-wrapper {
	display: block;
	position: relative;
	text-align: center;
	padding: 10px;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	box-shadow: 0 0px 1px 1px rgba(255, 255, 255, 0.2), 0 0px 1px 1px rgba(255, 255, 255, 0.15), 0 0px 0px 1px rgba(213, 213, 213, 0.2);
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	&.no-image {
		&:before {
			display: none;
		}
		color: rgba(0, 0, 0, 0.8);
		background: #FFF;
		.community-item-name {
		    color: rgba(0, 0, 0, 0.8);
		    text-shadow: none;
		}
		.community-item-count {
		    color: rgba(0, 0, 0, 0.8);
			&:before {
			    color: rgba(0, 0, 0, 0.3);
			}
		}
		.btn-spaces {
			color: rgba(80,141,216,1);
			border-color: rgba(80,141,216,.8);
			&:hover {
			    color: #FFF;
			}
		}
	}
}
.community-item-name {
	display: block;
	margin-top: 15px;
	padding: 10px 10px;
	font-weight: 700;
	font-size: 22px;
	letter-spacing: -0.04em;
	white-space: normal;
	word-wrap: break-word;
	word-break: break-word;
	word-spacing: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 1.2;
	height: 92px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
	/*color: #fff;*/
}
.community-item-follow {
	&:hover {
		.community-follower-count {
			&:before {
				color: rgba(80,141,216,0.2);
			}
		}
	}
}

.community-followers-user {
	display: inline-block;
}
.community-item-wrapper {
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		background-repeat: repeat-x;
		background-color: rgba(0,0,0,0.56);
		content: "";
		border-radius: 3px;
		-webkit-border-radius: 3px;
	}
	.community-overlay {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.76);
		background: rgba(80, 141, 216, 0.92);
		border-radius: 3px;
		-webkit-border-radius: 3px;
		z-index: 1;
		.opacity(0);
		visibility: hidden;
	}
	.community-overlay-hover {
		position: absolute;
		bottom: 4px;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;
		&:hover {
			display: none;
		}
		&:hover + .community-overlay {
			.opacity(1);
			visibility: visible;
		}
	}
	
	.community-item-inner {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		.community-footer {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			.community-followers {
				img {
					width: 24px;
					height: 24px;
					border-radius: 100%;
					-webkit-border-radius: 100%;
				}
				position: relative;
				bottom: 0;
				right: 0;
				left: 0;
				text-align: center;
				padding: 0 10px;
				margin-top: 5px;
				padding-bottom: 10px;
			}
			.community-followers-more {
				font-size: 16px;
				letter-spacing: 0;
				margin-left: 1px;
				font-weight: 400;
				border: 1px solid transparent;
				text-align: center;
				/*color: rgba(255, 255, 255, 0.9);*/
				display: inline-block;
				position: relative;
				top: 1px;
			}
			.community-item-count {
				position: relative;
				left: 0;
				right: 0;
				top: 0;
				text-align: center;
				font-size: 22px;
				font-weight: 700;
				letter-spacing: -0.04em;
				/*color: rgba(255,255,255,0.97);*/
				&:before {
					position: relative;
					top: 2px;
					content: "Posts";
					left: 0;
					right: 0;
					font-size: 12px;
					display: block;
					letter-spacing: 0;
					margin-right: 0;
					// text-transform: uppercase;
					font-weight: 600;
					/*color: rgba(255,255,255,0.65);*/
				}
				.is-new {
					position: absolute;
					top: 9px;
					margin-left: 4px;
					font-weight: 700;
					width: 10px;
					height: 10px;
					letter-spacing: 1px;
					background: rgba(80, 141, 216, 1);
					border-radius: 2px;
					text-transform: uppercase;
					display: inline-block;
					border-radius: 100%;
					-webkit-border-radius: 100%;
				}
			}
			// @todo:
			.community-item-topic {
				color: rgba(255, 255, 255, 0.97);
				font-weight: 600;
				font-size: 13px;
				max-height: 38px;
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: normal;
				border-top: 1px solid rgba(255, 255, 255, 0.1);
				padding-top: 5px;
				margin-top: -5px;
				margin-bottom: 5px;
			}
		}
	}
}
.community-actions {
	padding: 25px 15px;
	text-align: center;
	h4 {
		font-weight: 400;
		text-shadow: 0 1px 0 rgba(80, 141, 216, 1);
		font-size: 14px;
		margin-bottom: 10px;
		line-height: 1.4;
		padding-left: 10px;
		padding-right: 10px;
		color: rgba(255, 255, 255, 0.8);
	}
}

// communities
.communities {
	.communities-container {
		.communities-item {
			padding-left: 0;
			margin-bottom: 2.5em;
			.communities-item-wrapper {
				display: block;
				text-align: center;
				overflow: visible;
				padding: 0 15px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				-ms-border-radius: 5px;
				-o-border-radius: 5px;
				border-radius: 5px;
				/*
				-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
				-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
				-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
				-o-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
				box-shadow: 0 1px 2px rgba(0,0,0,0.1);
				*/
				background: #fcfdff;
				//border: 1px solid #ced4dc;
				//border-bottom-color: #a0acbb;
				text-shadow: 0 1px 0 #fff;
				position: relative;
				&:hover {
					-webkit-box-shadow: 0px 1px 0 rgba(0,0,0,0.1),0px -1px 0 rgba(0,0,0,0.1),1px 0 0 rgba(0,0,0,0.1),-1px 0 0 rgba(0,0,0,0.1),0px 3px 0 -1px #fff,0px 4px 0 -1px rgba(0,0,0,0.125),0px 6px 0 -2px #fff,0px 7px 0 -2px rgba(0,0,0,0.15),0px 9px 0 -3px #fff,0px 10px 0 -3px rgba(0,0,0,0.175),0px 8px 6px -1px rgba(0,0,0,0.25), 0 1px 0 rgba(0,0,0,0.05),0 0px 10px #28a0e5,0 0 0 1px #008cdd;
					-moz-box-shadow: 0px 1px 0 rgba(0,0,0,0.1),0px -1px 0 rgba(0,0,0,0.1),1px 0 0 rgba(0,0,0,0.1),-1px 0 0 rgba(0,0,0,0.1),0px 3px 0 -1px #fff,0px 4px 0 -1px rgba(0,0,0,0.125),0px 6px 0 -2px #fff,0px 7px 0 -2px rgba(0,0,0,0.15),0px 9px 0 -3px #fff,0px 10px 0 -3px rgba(0,0,0,0.175),0px 8px 6px -1px rgba(0,0,0,0.25), 0 1px 0 rgba(0,0,0,0.05),0 0px 10px #28a0e5,0 0 0 1px #008cdd;
					-ms-box-shadow: 0px 1px 0 rgba(0,0,0,0.1),0px -1px 0 rgba(0,0,0,0.1),1px 0 0 rgba(0,0,0,0.1),-1px 0 0 rgba(0,0,0,0.1),0px 3px 0 -1px #fff,0px 4px 0 -1px rgba(0,0,0,0.125),0px 6px 0 -2px #fff,0px 7px 0 -2px rgba(0,0,0,0.15),0px 9px 0 -3px #fff,0px 10px 0 -3px rgba(0,0,0,0.175),0px 8px 6px -1px rgba(0,0,0,0.25), 0 1px 0 rgba(0,0,0,0.05),0 0px 10px #28a0e5,0 0 0 1px #008cdd;
					-o-box-shadow: 0px 1px 0 rgba(0,0,0,0.1),0px -1px 0 rgba(0,0,0,0.1),1px 0 0 rgba(0,0,0,0.1),-1px 0 0 rgba(0,0,0,0.1),0px 3px 0 -1px #fff,0px 4px 0 -1px rgba(0,0,0,0.125),0px 6px 0 -2px #fff,0px 7px 0 -2px rgba(0,0,0,0.15),0px 9px 0 -3px #fff,0px 10px 0 -3px rgba(0,0,0,0.175),0px 8px 6px -1px rgba(0,0,0,0.25), 0 1px 0 rgba(0,0,0,0.05),0 0px 10px #28a0e5,0 0 0 1px #008cdd;
					box-shadow: 0px 1px 0 rgba(0,0,0,0.1),0px -1px 0 rgba(0,0,0,0.1),1px 0 0 rgba(0,0,0,0.1),-1px 0 0 rgba(0,0,0,0.1),0px 3px 0 -1px #fff,0px 4px 0 -1px rgba(0,0,0,0.125),0px 6px 0 -2px #fff,0px 7px 0 -2px rgba(0,0,0,0.15),0px 9px 0 -3px #fff,0px 10px 0 -3px rgba(0,0,0,0.175),0px 8px 6px -1px rgba(0,0,0,0.25), 0 1px 0 rgba(0,0,0,0.05),0 0px 10px #28a0e5,0 0 0 1px #008cdd;
					cursor: pointer;
					.communities-item-cover {
						&:before {
							content: '';
							.border-radius(5px);
							position: absolute;
							top: -1px;
							left: 0;
							right: 0;
							bottom: 0px;
							display: block;
							background-repeat: repeat-x;
							background-color: rgba(73,82,93,0.9);
							z-index: 5;
							margin: 1px;
						}
					}
					.communities-item-url {
						display: block;
						visibility: visible;
						.opacity(1);
						&:before,
						&:after {
							content: "View Conversations";
							position: absolute;
							left: 0;
							right: 0;
							top: 50%;
							margin-top: -15px;
							color: #FFF;
							text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
							font-size: 16px;
							letter-spacing: 0;
							font-weight: 500;
						}
						&:after {
							content: "\e105";
							margin-top: 10%;
							font-family: "jotter-icons";
						    font-style: normal;    
						    font-weight: normal;    
						    font-variant: normal;    
						    text-transform: none;    
						    speak: none;        
						    -webkit-font-smoothing: antialiased;    
						    -moz-osx-font-smoothing: grayscale;
							font-size: 38px;
							color: rgba(255, 255, 255, 0.97);
						}
					}
				}
				.communities-item-url {
					z-index: 6;
					visiblity: hidden;
					.opacity(0);
					-webkit-transition: margin-left 250ms cubic-bezier(.335, .815, .47, 1);
					-moz-transition: margin-left 250ms cubic-bezier(.335, .815, .47, 1);
					-ms-transition: margin-left 250ms cubic-bezier(.335, .815, .47, 1);
					-o-transition: margin-left 250ms cubic-bezier(.335, .815, .47, 1);
					transition: margin-left 250ms cubic-bezier(.335, .815, .47, 1)
				}
				// use .cover class
				.communities-item-cover {
					position: relative;
					margin-top: -1px;
					margin-left: -16px;
					margin-right: -16px;
					height: 300px;
					.border-radius(4px);
					text-shadow: 0 1px rgba(0,0,0,0.14);
					text-align: left;
					/*color: #FFF;*/
				}
				.communities-item-container {
					position: relative;
					z-index: 1;
					.unread {
						color: rgba(255, 255, 255, 0.84);
						background: rgba(0, 140, 221, 0.84);
						text-shadow: 0 1px 0 #008cdd;
						
						padding: 3px 6px;
						font-size: 9px;
						letter-spacing: 1px;
						position: relative;
						margin: 10px 0 5px 15px;
						top: 5px;
						display: inline-block;
						font-weight: 700;
						border-radius: 4px;
						text-transform: uppercase;
						&:hover {
							color: #FFF;
						}
					}
				}
				.communities-item-img {
					display: block;
					position: absolute;
					top: -1px;
					left: 0;
					right: 0;
					bottom: 0;
					border-radius: 5px;
					margin: 1px;
					background-color: rgba(73,82,93,0.46);
					
					&:before {
						content: '';
						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						-ms-border-radius: 4px;
						-o-border-radius: 4px;
						border-radius: 4px;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: -200%;
						height: 100%;
						display: block;
						background-repeat: repeat-x;
						background-color: rgba(73,82,93,0.46);
					}
				}
				.communities-item-type {
					padding-top: 5px;
					margin-top: 5px;
					position: relative;
					display: block;
					text-transform: uppercase;
					font-weight: 600;
					font-size: 11px;
					letter-spacing: 0;
					color: rgba(255, 255, 255, 0.66);
				}
				.communities-item-title {
					font-weight: 600;
					font-style: normal;
					text-align: left;
					overflow: hidden;
					position: relative;
					display: block;
          color: #FFF;
					padding: 0 15px;
					text-decoration: none;
					h3 {
						font-weight: 600;
						max-height: 156px;
						font-size: 18px;
						line-height: 1.25;
						letter-spacing: 0;
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						text-align: left;
						overflow: hidden;
					}
				}
				.communities-item-footer {
					color: rgba(255, 255, 255, 0.97);
					font-size: 14px;
					font-weight: 600;
					position: absolute;
					bottom: 10px;
					left: 0;
					right: 0;
					z-index: 1;
					text-align: center;
					letter-spacing: .25px;
					text-overflow: ellipsis;
					overflow: hidden;
					text-transform: uppercase;
					.communities-item-name { 
						font-weight: 500;
						font-size: 18px;
						margin-bottom: 10px;
						letter-spacing: 0;
						display: block;
						/*color: rgba(255,255,255,0.97);*/
						text-transform: none;
						padding: 0 15px;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
					}
					.communities-item-analytics {
						display: block;
						position: relative;
						.communities-item-stats {
							margin-top: 15px;
							margin-bottom: 10px;
							font-size: 20px;
							font-weight: 600;
							font-style: normal;
							letter-spacing: -0.02em;
							float: left;
							width: 50%;
							text-align: center;
							padding: 0 15px;
							&.conversations //, &.members 
							{
								&:after {
									content: "";
									position: relative;
									font-size: 11px;
									font-weight: 600;
									letter-spacing: .25px;
									font-style: normal;
									display: block;
									color: rgba(255, 255, 255, 0.84);
								}
							}
							&.members a {
								content: "";
								position: relative;
								font-size: 11px;
								font-weight: 600;
								letter-spacing: .25px;
								font-style: normal;
								display: block;
								color: rgba(255, 255, 255, 0.84);
							}
							&.conversations {
								&:after {
									content: "Conversations";
								}
							}
							// &.members {
							// 	&:after {
							// 		content: "Members";
							// 	}
							// }
						}
					}
					a {
						color: rgba(255, 255, 255, 0.97);
						&:hover {
							color: #FFF;
						}
					}
				}
			}
		}
	}
}

// topic
.topic {
	margin: 0;
	.topic-cover-image {
		//overflow: hidden;
		.opacity(.8);
		margin: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		

		&:before {
		    content: "";   
		    position: absolute;   
		    left: 0;  
		    top: 0;   
		    bottom: 0;   
		    right: 0;   
		    background-color: rgba(255, 255, 255, 0.92);   
		    z-index: 1;
		    
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			
			box-shadow: inset 0 1px 1px #FFF;
			-webkit-box-shadow: inset 0 1px 1px #FFF;
		}
	}
	.topic-backto {
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 10px;
		padding-left: 15px;
		display: inline-block;
		color: rgba(73,82,93,0.68);
		text-shadow: 0 1px 0 rgba(255,255,255,0.52);
		&:hover {
			&:before {
				color: rgba(73,82,93,0.64);
			}
			&:after {
				color: rgba(73,82,93,0.42);
				margin-left: 0;
				.opacity(1);
			}
		}
		&:before {
			content: "Return to";
			display: block;
			font-size: 9px;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: .5px;
			color: rgba(73, 82, 93, 0.46);
		}
		&:after {
			content: "\e04c";
			font-family: "jotter-icons";
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			speak: none;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			position: absolute;
			left: -5px;
			top: 5px;
			color: rgba(73,82,93,0.28);
			margin-left: 10px;
			.opacity(0.5);
			-webkit-transition: margin-left 0.1s ease-out, opacity 0.1s ease-out;
			-moz-transition: margin-left 0.1s ease-out, opacity 0.1s ease-out;
			-o-transition: margin-left 0.1s ease-out, opacity 0.1s ease-out;
			transition: margin-left 0.1s ease-out, opacity 0.1s ease-out;
		}
	}
	.topic-wrapper {
		background-color: #fff;
		/*
		-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 2px 5px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 2px 5px rgba(0, 0, 0, 0.1);
		-ms-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 2px 5px rgba(0, 0, 0, 0.1);
		-o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 2px 5px rgba(0, 0, 0, 0.1);
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 2px 5px rgba(0, 0, 0, 0.1);
		*/
		overflow: visible;
		.border-radius(5px);
		-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2);
		-ms-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2);
		-o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2);
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2);
		margin-bottom: 50px;
		&.topic-text-submission {
			.topic-title {
				span {
					font-weight: 400;
					color: #2c2c2c;
					display: block;
					margin-left: 54px;
				}
			}
			.topic-summary-op-about {
				p {
					font-weight: 700;
					color: #2c2c2c;
				}
			}
		}
	}
	.topic-header-wrapper {
		height: auto;
		margin-left: -15px;
		margin-right: -15px;
		overflow: visible;
		position: relative;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		/*
		-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
		-ms-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
		-o-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
		box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05), 0 1px 1px rgba(0,0,0,.06);
		border-bottom: 1px solid #dfe3e6;
		border-bottom: 1px solid #dfe3e6;
		*/
		height: 100%;
		margin-top: 0;
		padding-top: 15px;
		background: #fff;
		z-index: 1;
		
		&:before {
		    content: "";
		    position: absolute;
		    left: 0;
		    top: 0;
		    bottom: 0;
		    right: 0;
		    background-color: rgba(255, 255, 255, 0.32);
		    z-index: 1;
		    //
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		&.no-img {
			.topic-title {
				margin-left: 0;
				margin-bottom: 0;
				min-height: inherit;
			}
			.topic-summary {
				margin: 0 0 1em 0;
			}
			.topic-article-gutter {
				display: none;
			}
		}
	}
	.topic-title {
		position: relative;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 15px;
		margin-top: 0;
		margin-left: 15px;
		color: #2c2c2c;
		z-index: 1;
		padding: 0;
		font-weight: 600;
		display: block;
		line-height: 1.25;
		font-size: 20px;
		text-align: left;
		min-height: 120px;
		word-wrap: break-word;
		word-break: break-word;
		a {
			color: #2c2c2c;
			position: relative;
			padding-left: 15px;
			padding-right: 15px;
			display: block;
		}
		.topic-text {
			
		}
	}
	.topic-article-gutter {
	    float: left;
	    position: relative;
	    top: 0;
	    min-height: 100%;
	    .topic-article-img {
		    width: 120px;
		    height: 120px;
		    position: relative;
		    display: block;
		    z-index: 1;
		    margin-top: 0;
		    margin-left: 15px;
		    margin-right: 15px;
		    float: left;
		    border-radius: 4px;
		    overflow: hidden;
		    background-color: #F5F6F7;
			img {
			    width: 100%;
			    height: 100%;
			    position: relative;
			    display: block;
				&:before {
				    position: absolute;
				    top: 0;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    background: rgba(73,82,93,0.32);
				    z-index: 1;
				    content: "";
				}
			}
		}
	}
	.topic-summary {
		margin: 0 0 1em 0;
		position: relative;
		z-index: 1;
		padding: 0 15px;
		display: block;
		color: rgba(73,82,93,0.68);
		font-size: 15px;
		font-weight: 500;
		letter-spacing: 0;
		.topic-summary-none {
			.opacity(.32);
		}
		.topic-summary-op {
			position: relative;
			display: block;
			min-height: 45px;
			.topic-summary-op-img {
				position: relative;
				height: 45px;
				width: 45px;
				background-color: #F5F6F7;
				display: inline-block;
				border-radius: 100%;
				overflow: _hidden;
				overflow: visible;
				float: left;
			}
			.topic-summary-op-main {
				z-index: 1;
				margin-top: 0;
				position: relative;
				border-radius: 4px;
				border-bottom-right-radius: 4px;
				border-bottom-left-radius: 4px;
				margin-left: 40px;
				display: block;
				padding: 0 85px 0 15px;
				.topic-summary-op-header {
					display: block;
					font-size: 14px;
					font-weight: normal;
					letter-spacing: 0;
					margin: 0;
					margin-bottom: 5px;
					font-style: normal;
					white-space: normal;
					color: rgba(73,82,93,0.38);
					.topic-summary-op-username {
						//color: rgba(73,82,93,0.8);
						color: rgba(0,140,221,0.8);
						font-weight: 700;
						&:hover {
							color: rgba(0,140,221,1);
						}
					}
				}
				.topic-summary-op-about {
					display: block;
					overflow: hidden;
					white-space: normal;
					text-overflow: ellipsis;
					position: relative;
					font-size: 13px;
					margin: -2px 0 10px;
					word-break: break-word;
					word-wrap: break-word;
					color: #2c2c2c;
					//
					border-bottom: 1px solid #F5F6F7;
				}
			}
		}
	}
	.topic-summary-actions {
		display: inline-block;
		padding: 10px 0 10px 20px;
		position: relative;
		z-index: 2;
		float: right;
		margin-top: 0;
		margin-left: -15px;
		margin-right: 0;
		text-align: right;
		background: transparent;
		// dropdown
		.like {
			margin-left: 10px;
		}
		.share {
			position: relative;
			float: none;
			z-index: 10;
			outline: none;
			display: inline-block;
			.dropdown-heading {
				display: block;
				padding: 0;
				font-size: 12px;
				font-weight: 600;
				line-height: 1.42857143;
				color: #484848;
				white-space: nowrap;
				text-align: left;
				margin: 2px 0 8px;
				letter-spacing: 0;
			}
			.dropdown-menu {
				z-index: 10;
				overflow: visible;
				border: 0 none;
				margin-left: -10px;
			}
			&.open {
				.dropdown-arrow {
					top: -30px;
					left: -86px;
					right: 0;
					width: 28px;
					height: 30px;
					position: absolute;
					text-align: center;
					overflow: hidden;
					margin: 0 auto;
					background: transparent;
					z-index: 1;
					&:after {
						content: "";
						display: block;
						width: 20px;
						height: 20px;
						position: absolute;
						top: 32px;
						right: 4px;
						background: #fff;
						border: 1px solid rgba(0,0,0,0.1);
						background-clip: padding-box;
						z-index: 0;
						-webkit-transform: rotate(45deg) translate(-5px, -5px);
						-ms-transform: rotate(45deg) translate(-5px, -5px);
						transform: rotate(45deg) translate(-5px, -5px);
						box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.05);
					}
				}
				.dropdown-menu {
					position: absolute;
					top: 36px;
					float: left;
					margin: 0;
					padding: 8px 10px !important;
					width: 136px;
					left: 0;
					right: 0;
					border-radius: 3px;
					-webkit-border-radius: 3px;
					box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 5px 10px 0 rgba(0,0,0,.1);
					-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 5px 10px 0 rgba(0,0,0,.1);
					a {
						display: block;
						position: relative;
						height: 16px;
						color: rgba(0, 0, 0, 0.44);
						font-size: 12px;
						margin-bottom: 7px;
						text-align: left;
						letter-spacing: 0;
						&:hover {
							color: rgba(0, 0, 0, 0.6);
						}
						&:last-child {
							margin-bottom: 2px;
						}
					}
				}
			}
		}
	}
	.topic-statistics-right {
    	float: right;
	}
	.topic-statistics-left {
	    float: left;
	}
	.topic-statistics-left,
	.topic-statistics-right {
	    display: inline-block;   
	    font-size: 13px;   
	    font-weight: 500;   
	    position: relative; 
	    text-align: left;   
	    color: rgba(73,82,93,0.38);
	}
	.topic-statistics {
		position: relative;
		margin-left: -15px;
		margin-right: -15px;
		padding: 10px 15px 10px;
		background: rgba(245, 246, 247, 1);
		.posts,
		.views {
			display: inline-block;
			position: relative;
			text-align: left;
			color: rgba(73,82,93,0.6);
			font-weight: 600;
		}
		.posts {}
		.views {}
	}
	.topic-operator {
		display: block;
		margin-left: 140px;
		padding: 0 15px 15px 15px;
		position: relative;
		z-index: 1;
	}
	.topic-fade {
		position: absolute;
		display: block;
		height: 22px;
		left: 0;
		bottom: 72px;
		z-index: 1;
		right: 0;
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, white));
		background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), white);
		background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), white);
		background-image: -ms-linear-gradient(top, transparent, white);
		background-image: -o-linear-gradient(top, transparent, white);
	}
	.topic-reply {
		/*
		background-color: #f5f6f7;
		border-top: 1px solid rgba(223,227,230,0.24);
		*/
		border-bottom: 1px solid rgba(223,227,230,0.84); 
		box-shadow: 0 1px 2px rgba(0,0,0,0.04);
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.04);
		position: relative;
		margin-left: -15px;
		margin-right: -15px;
		padding: 15px;
		padding-right: 15px;
		display: block;
		overflow: visible;
		z-index: 1;

		.topic-reply-wrapper {
			background: #F5F6F7;
			position: relative;
			padding: 0;
			padding-bottom: 26px;
			border: 1px solid #ced4dc;
			.border-radius(5px);
			display: block;
			margin-left: 50px;
			-webkit-transition: margin-left 250ms cubic-bezier(.335, .815, .47, 1);
			-moz-transition: margin-left 250ms cubic-bezier(.335, .815, .47, 1);
			-ms-transition: margin-left 250ms cubic-bezier(.335, .815, .47, 1);
			-o-transition: margin-left 250ms cubic-bezier(.335, .815, .47, 1);
			transition: margin-left 250ms cubic-bezier(.335, .815, .47, 1);
		}
		.topic-reply-title {
		    border-bottom: 0;   
		    padding: 5px 15px 0 15px;   
		    margin: -1px -1px 0px -1px;   
		    position: relative;      
		    font-size: 14px;
		    font-weight: 600;   
		    -webkit-border-top-left-radius: 4px;   
		    -moz-border-top-left-radius: 4px;   
		    -ms-border-top-left-radius: 4px;   
		    -o-border-top-left-radius: 4px;   
		    border-top-left-radius: 4px;   
		    -webkit-border-top-right-radius: 4px;   
		    -moz-border-top-right-radius: 4px;   
		    -ms-border-top-right-radius: 4px;   
		    -o-border-top-right-radius: 4px;
		    border-top-right-radius: 4px;   
		    
		    -webkit-box-shadow: inset 0 1px 2px rgba(186, 191, 199, 0.64);   
		    -moz-box-shadow: inset 0 1px 2px rgba(186, 191, 199, 0.64);   
		    -ms-box-shadow: inset 0 1px 2px rgba(186, 191, 199, 0.64);
		    -o-box-shadow: inset 0 1px 2px rgba(186, 191, 199, 0.64);   
		    box-shadow: inset 0 1px 2px rgba(186, 191, 199, 0.64);
		}
		textarea,
		input {
			z-index: auto;
			background: #F5F6F7;
			position: relative;
			border: none;
			width: 100%;
			padding: 6px 12px;
			resize: none;
			font-size: 13px;
			font-weight: 500;
		}
		&.is-open {
			.topic-reply-wrapper {
				background: #FFF;
				textarea,
				input {
					background: #FFF;
				}
			}
		}
	}
	.topic-reply-btn {
		position: relative;
		z-index: 1;
	}
	.topic-reply-comment {
		position: absolute;
		right: 20px;
		bottom: 20px;
		display: block;
	}
	.textcomplete-wrapper {
		// override inline styles
		display: block !important;
		height: auto !important;
		margin: 0;
	}
	
	
	// topic posts
	ul.posts {
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 15px;
		padding-right: 15px;
		//padding-top: 30px;
		padding-top: 15px;
		padding-bottom: 22px;
		list-style-type: none;
		background: #FFF;
		margin-bottom: 0;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		&.unreplied {
			background: #F5F6F7;
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
			.message {
				display: block;
				position: relative;
				padding: 20px;
				background: transparent;
				border: 2px dashed #E8EBEF;
				border-radius: 5px;
				em {
					text-decoration: underline;
				}
			}
		}
		> li {
			display: block;
			margin-left: -15px;
			margin-right: -15px;
			background: transparent;
			padding: 10px 15px;
			// removed first post, redundant much?
			&:first-child {
				display: none;
				visibility: hidden;
			}
			&:last-child {
				.post-wrapper {
					border-bottom: none;
				}
			}
			&.posts-unreplied {
				background: #F5F6F7;
				text-align: center;
				font-weight: 500;
				color: #A7ABB2;
				font-size: 14px;
				margin: 0 auto;
				margin-bottom: 25px;
				text-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
			}
			.post-avatar {
			    float: left;
			    margin-left: 0;
			    //display: block;
			    position: relative;
			    height: 38px;
			    width: 38px;
			    
			    background-color: #fff;
				background-size: 38px 38px;
				.border-radius(100%);
				-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.7);
				-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.7);
				-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.7);
				-o-box-shadow: 0 1px 0 rgba(255,255,255,0.7);
				box-shadow: 0 1px 0 rgba(255,255,255,0.7);
  
			    .post-avatar-border {
					width: 38px;
					height: 38px;
					border: 1px solid rgba(0,0,0,0.1);
					.border-radius(100%);
			    }
			    .post-avatar-link {
				    position: absolute;
				    z-index: 1;
				    width: 38px;
				    height: 38px;
				    .border-radius(100%);
				    display: block;
			    }
			    img {
				    .opacity(0);
					position: absolute;
					top: 0;
					height: 38px;
					width: 38px;
				}
			}
			.post-wrapper {
			    position: relative;
			    display: block;
			    margin-left: 50px;
			    //padding-bottom: 15px;
				//border-bottom: 1px solid rgba(0, 0, 0, 0.05); 
			    .post-information {
				    position: relative;
				    display: block;
				    color: #7F858D;
				    color: rgba(127, 133, 141, 0.68);
				    font-weight: 500;
				    font-style: normal;
				    font-size: 12px;
				    letter-spacing: 0;
				    .status {
					    position: relative;
						padding: 0;
						font-size: 9px;
						top: -2px;
					}
					.post-name {
					    display: inline-block;
					    position: relative;
					    margin-right: 2px;

					    .post-username {
						    font-weight: 700;
							font-size: 13px;
							color: rgba(0, 140, 221, 1);
							text-transform: lowercase;
							letter-spacing: 0;
						}
					}
					
				}
			}
			.post-time {
				display: inline-block;
				font-size: 11px;
				font-weight: 500;
				position: relative;
				top: -1px;
				color: rgba(127,133,141,0.68);
				a {
					color: rgba(127,133,141,0.68);
					&:hover {
						color: rgba(127,133,141,1);
					}
				}
			}
			.post-actions {
			    display: block;
			    position: relative;
			    text-align: left;
			    margin-top: 0;
			}
			.post-content {
				overflow: hidden;
			    margin: 0;
				padding: 0;
				display: inline-block;
				font-weight: 500;
				color: #545454;
				font-size: 13px;
				letter-spacing: 0;
				line-height: 1.55;
				outline: 0;
				word-break: break-word;
				word-wrap: break-word;
			    
			    blockquote,
			    blockquote p {
				    font-size: 13px;
				    font-style: normal;
					line-height: 1.55;
					letter-spacing: 0;
					text-rendering: auto;
			    }
				* {
				    font-size: 13px;
					font-family: inherit;
					color: inherit;
					background: transparent;
					white-space: normal;
					word-wrap: break-word;
					word-break: break-word;
					line-height: inherit;
					display: inline;
					list-style: none;
					margin: 0;
					padding: 0;
					text-align: left;
				    br {
					    display: none;
				    }
				    a {
						color: rgba(0, 140, 221, 0.8);
				    }
				    + p {
					  display: inline;
					  margin: 0;
					}
				}
			}
			.post-expander {
				display: block;
				position: relative;
				margin-top: -5px;
				margin-bottom: 5px;
				a {
					color: rgba(84, 84, 84, 0.56);
					font-size: 13px;
					font-weight: 500;
				}
			}	
		}
	}
}

.topic-comment-wrapper {
    position: relative;
    display: block;
	.topic-comment {
	    z-index: 1;
	    margin-top: 10px;      
	    background: #FFF;      
	    position: relative;   
	    .border-radius(4px);
	    margin-bottom: 20px;   
	    width: 100%;   
	    border: 1px solid #CED4DC;
	    display: block;
	    padding: 10px 15px;
	    .topic-comment-heading {
			display: block;
			position: relative;
		}
		.topic-comment-what {
		    display: block;   
		    font-size: 13px;   
		    font-weight: normal;   
		    letter-spacing: 0.01em;   
		    line-height: 22px;   
		    margin: 0px 0px 10px 0px;   
		    font-style: normal;   
		    white-space: normal;
		    color: rgba(73,82,93,0.7);
		}
		
		.topic-comment-who {
		    display: inline-block;
		    position: relative;
		    font-weight: 600;
		    font-size: 14px;
		    color: rgba(73,82,93,1);
		}
		
		.topic-comment-when {
		    display: inline-block;
		    color: rgba(73,82,93,0.38);
		    font-size: 11px;
		    margin-left: 5px;
		    margin-top: 2px;
		    float: right;
		    position: relative;
		}
	}
}
.topic-comment-img,
.topic-reply-img {
    position: absolute;
    height: 38px;
    width: 38px;
    background-color: #e8ebef;
    display: block;
    .border-radius(100%);
    margin-left: -50px;
    overflow: visible;
    z-index: 5;
}

// readability
.readability-modal {
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	.modal-dialog {
		width: 900px;
		max-width: 100%;
		height: 96%;
		.modal-header {
			border: 0;
		}
		.modal-content {
			height: 100%;
		}
		
		// calc(100% - 30px) does not work
		// it's compiled correctly - go figure
		.modal-body {
			height: 94%;
			padding: 0;
		}
	}
	// readability iframe
	iframe {
		width: 100%;
		height: 100%;
		border: 0;
	}
}

// search (global)
.contextual--search {
	margin-bottom: 30px;
	position: relative;
	display: block;
	.contextual--search-form {
		&:before {
			content: "\e0e8";
			position: absolute;
			margin-left: 14px;
			margin-top: 14px;
			color: rgba(0,0,0,0.28);
			font-family: "jotter-icons";
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			speak: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-size: 16px;
			display: inline-block;
			z-index: 1;
		}
		.contextual--search-input {
			background-color: rgba(255, 255, 255, 0.64);
			font-size: 14px;
			border: 1px solid #bbb;
			border-top-color: #999;
			.border-radius(4px);
			-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);
			-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);
			-ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);
			-o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);
			-webkit-font-smoothing: antialiased;
			-webkit-transition: background-color 0.2s ease;
			transition: background-color 0.2s ease;
			position: relative;
			overflow: visible;
			width: 100%;
			padding: 4px 10px;
			padding-left: 38px;
			line-height: 34px;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: -0.02em;
			text-shadow: 0 1px 0 rgba(255,255,255,0.5);
			outline: none;
			&:focus,
			&:active {
				background-color: #fff;
			}
		}
	}
}

.community-nav {
    margin: 0 15px;
    margin-bottom: 15px;
    padding: 0;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
	.community-nav-item {
	    display: inline-block;
	    padding: 10px;
	    text-transform: uppercase;
	    font-size: 13px;
	    letter-spacing: 1px;
	    color: rgba(0, 0, 0, 0.5);
	    float: left;
	    &:hover,
	    &.active {
		    margin-top: -1px;
		    border-top: 1px solid;
	    }
	    &:hover {
		    font-weight: 400;
		    border-top-color: rgba(0, 0, 0, 0.18);
	    }
		&.active {
		    font-weight: 700;
		    border-top-color: rgba(0, 0, 0, 0.3);
		}
	}
}

// account/profile
.everything-account {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.profile--img {
	position: relative;
	display: block;
	text-align: center;
	.profile--img-holder {
		display: inline-block;
		cursor: pointer;
		position: relative;
		width: 110px;
		height: 110px;
		display: inline-block;
		border-radius: 50%;
		background-size: cover;
		background-position: center center;
		background-color: rgba(232, 235, 239, 0.48);
	}
}
.profile--username {
	margin-top: 10px;
	display: inline-block;
	font-weight: 700;
	font-style: normal;
	font-size: 34px;
	letter-spacing: -0.04em;
	line-height: 1;
	color: #2c2c2c;
	margin-bottom: 5px;
	outline: 0;
	word-break: break-word;
	word-wrap: break-word;
}
.profile--description {
	padding-bottom: 15px;
	margin-bottom: 15px;
	font-weight: 400;
	max-width: 500px;
	margin: 0 auto;
	right: 0;
	display: block;
	position: relative;
	color: rgba(44, 44, 44, 0.56);
	font-size: 18px;
	outline: 0;
	word-break: break-word;
	word-wrap: break-word;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 15px;
}
.profile--actions {
	margin-bottom: 20px;
	display: block;
}
.profile--nav {
	text-align: center;
	margin: 0 auto;
	padding: 0;
	max-width: 500px;
	display: block;
	position: relative;
	top: 0;
	.profile--stats {
		font-size: 24px;
		display: block;
		font-weight: 300;
		color: #2c2c2c;
		letter-spacing: 0;
		&.following,
		&.followers,
		&.saved,
		&.jots {
			&:before {
				content: "";
				position: relative;
				top: 0;
				left: 0;
				right: 0;
				padding: 0 10px;
				font-size: 10px;
				letter-spacing: .5px;
				font-weight: 700;
				color: #bbb;
				text-transform: uppercase;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				display: block;
				margin-bottom: -4px;
			}
		}
		&.following {
			&:before {
				content: "Following";
			}
		}
		&.followers {
			&:before {
				content: "Followers";
			}
		}
		&.saved {
			&:before {
				content: "Saved";
			}
		}
		&.jots {
			&:before {
				content: "Jots";
			}
		}
	}
}

.users--mini-heading,
.community-mini-heading {
	font-weight: 600;
	font-size: 24px;
	color: rgba(0,0,0,0.8);
	letter-spacing: 0;
	margin-bottom: 25px;
	text-align: center;
	text-shadow: 0 1px rgba(255, 255, 255, 0.52);
	.subheading {
		font-size: 16px;
		letter-spacing: 0;
		display: block;
		margin-top: 5px;
		color: rgba(0, 0, 0, 0.5);
		font-weight: 400;
	}
}
.community-mini {
	+ .users--mini {
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px solid rgba(0, 0, 0, 0.06);
	}
}

// users (depreciated)
// please do not remove this section
.users--mini {
	text-align: center;
	position: relative;
}
.users--container {
	margin: 0 15px;
}
.user--item {
	padding-left: 0;
	.user--item-wrapper {
	    //margin-bottom: 20px;
	    margin-bottom: 2.25em;   
	    display: block;   
	    text-align: center;   
	    overflow: visible;   
	    padding: 0 15px;   
	    .border-radius(5px);   
	    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);   
	    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);   
	    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);   
	    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);   
	    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);   
	    background: #fcfdff;   
	    border: 1px solid #ced4dc;
	    border-bottom-color: #a0acbb;  
	    text-shadow: 0 1px 0 #fff;
	    height: 254px;
	    position: relative;
	}
	.user--avatar-cover {
		margin-left: -15px;
		margin-right: -15px;
		position: relative;
		//background: rgba(0, 0, 0, 0.024);
		//border-bottom: 1px solid rgba(0, 0, 0, 0.06);
		.user--avatar-wrapper {
		    display: block;   
		    text-align: center;
		    position: relative;   
		    display: inline-block;   
		    overflow: hidden;            
		    background: #fff;   
		    border-radius: 100%;   
		    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);   
		    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);   
		    -ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);   
		    -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);   
		    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);   
		    margin-top: 10px;   
		    margin-bottom: 2px;   
		    width: 80px;   
		    height: 80px;
			.user--avatar-img {
			    width: 100%;     
			    height: 100%;
			    .border-radius(100%);
			}
		}
	}
	.user--information {
	    display: block;
	    padding-bottom: 15px;
	    margin-left: -15px;
		margin-right: -15px;
		position: relative;
		.user--name {
		    margin-top: 0;   
		    margin-bottom: 0;
		    position: relative;   
		    color: #626a70;   
		    z-index: 15;   
		    font-weight: bold;   
		    text-align: center;  
		    padding: 5px 15px 15px 15px;  
		    font-size: 16px;   
		    overflow: hidden;   
		    text-overflow: ellipsis;  
		    white-space: nowrap;   
			.user--fullname {
				//
			}
			.user--username {
			    display: block;
			    font-size: 12px;
			    font-weight: 500;
			    color: rgba(0, 140, 221, 0.8);
			    margin-top: 5px;
			    &:hover {
				    color: rgba(0, 140, 221, 1);
			    }
			}
			&:after {
				content: "";
				position: absolute;
				bottom: 0px;
				left: 0;
				right: 0;
				width: 30%;
				margin: 0 auto;
				height: 1px;
				background: #e4e9f0;
				margin-bottom: 2px;
			}
		}
		.user--stats {
			position: relative;
			padding: 8px 10px;
			margin-bottom: 0;
			color: #626a70;
			display: block;
			clear: both;
			text-shadow: 0 1px 0 rgba(255,255,255,0.52);
			.user--stats-item {
				width: 50%;
				display: inline-block;
				font-size: 16px;
				font-weight: 600;
				text-align: center;
				position: relative;
				float: left;
				&:before {
					position: relative;
					content: "";
					font-size: 9px;
					font-weight: 600;
					display: block;
					color: rgba(98,106,112,0.52);
					text-transform: uppercase;
				}
				&.posts {
					&:before {
						content: "Posts";
					}
				}
				&.followers {
					&:before {
						content: "Followers";
					}
				}
			}
		}
		.user--footer {
			margin-bottom: 0;
			display: block;
			position: relative;
			left: 0;
			bottom: 0;
			right: 0;
			padding: 10px 0;
			padding-top: 8px;
			background: rgba(0,0,0,0.024);
			border-top: 1px solid rgba(228,233,240,0.64);
			z-index: 1;
			.user--follow-btn {
				strong {
					font-weight: 600;
				}
			}
		}
		.user--gutter {
			position: absolute;
			right: 5px;
			font-size: 11px;
			bottom: -5px;
			color: rgba(0, 0, 0, 0.66);
			text-align: right;
			float: right;
			.opacity(.62);
			strong {
				font-weight: 600;
			}
		}
	}
}

// people/users
// @todo: change name to people-*
.users-container {
	padding: 0;
	.user-item {
		padding-left: 0;
		.user-item-wrapper {
			margin-bottom: 2.25em;
			display: block;
			text-align: center;
			overflow: visible;
			padding: 0 15px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;
			border-radius: 5px;
			-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
			-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
			-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
			-o-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
			box-shadow: 0 1px 2px rgba(0,0,0,0.1);
			background: #fcfdff;
			border: 1px solid #ced4dc;
			border-bottom-color: #a0acbb;
			text-shadow: 0 1px 0 #fff;
			/* height: 251px; */
			position: relative;
			&:hover {
				-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05),0 0 4px #28a0e5;
				-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.05),0 0 4px #28a0e5;
				-ms-box-shadow: 0 1px 0 rgba(0,0,0,0.05),0 0 4px #28a0e5;
				-o-box-shadow: 0 1px 0 rgba(0,0,0,0.05),0 0 4px #28a0e5;
				box-shadow: 0 1px 0 rgba(0,0,0,0.05),0 0 7px #28a0e5, 0 0 0px 1px #008cdd;
				cursor: pointer;
			}
			.unread-bg {
				text-align: left;
				position: absolute;
				.unread {
					color: rgba(255, 255, 255, 0.84);
					background: rgba(0, 140, 221, 0.84);
					text-shadow: 0 1px 0 #008cdd;
					
					padding: 3px 6px;
					font-size: 9px;
					letter-spacing: 1px;
					position: relative;
					// margin: 10px 0 5px 15px;
					top: 5px;
					display: inline-block;
					font-weight: 700;
					border-radius: 4px;
					text-transform: uppercase;
				}
			}
		}
		.user-avatar-cover {
			margin-left: -15px;
			margin-right: -15px;
			position: relative;
			//background: rgba(0, 0, 0, 0.024);
			//border-bottom: 1px solid rgba(0, 0, 0, 0.06);
			.user-avatar-wrapper {
				text-align: center;
				position: relative;
				display: block;
				overflow: hidden;
				background: rgba(232, 235, 239, 0.64);
				.border-radius(4px 4px 0 0);
				margin-top: 0;
				margin-bottom: 2px;
				width: 100%;
				height: 100px;
				.user-avatar-img {
				    width: 100%;
					height: 100%;
					.border-radius(2px 2px 0px 0px);
					.opacity(.72);
					.user-avatar-filter {
						margin: -10px;
						-webkit-filter: blur(7px);
						-moz-filter: blur(7px);
						-ms-filter: blur(7px);
						-o-filter: blur(7px);
						filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='svgBlur' x='-5%' y='-5%' width='110%' height='110%'><feGaussianBlur in='SourceGraphic' stdDeviation='7'/></filter></svg>#svgBlur");
						filter: blur(7px);
					}
				}
			}
		}
		.user-avatar-picture {
			position: relative;
			display: block;
			margin: 0 auto;
			height: 100px;
			width: 100px;
			box-shadow: 0 1px 2px rgba(0,0,0,0.045),inset 0 1px 2px rgba(0,0,0,0.26);
			border: 2px solid #fff;
			background-color: rgba(232, 235, 239, 0.64);
			.border-radius(999em);
			margin-top: -86px;
			margin-bottom: 5px;
			z-index: 1;
		}
		.user-name {
		    margin-top: 0;   
		    margin-bottom: 0;
		    position: relative;   
		    color: #626a70;   
		    z-index: 15;   
		    font-weight: bold;   
		    text-align: center;  
		    padding: 5px 15px 15px 15px;  
		    font-size: 16px;   
		    overflow: hidden;   
		    text-overflow: ellipsis;  
		    white-space: nowrap;  
		    a {
			    color: #2c2c2c;
		    } 
			.user-fullname {
				//
			}
			.user-username {
			    display: block;
			    font-size: 12px;
			    font-weight: 500;
			    color: rgba(44, 44, 44, 0.42);
			    margin-top: 5px;
			    &:hover {
				    color: rgba(0, 140, 221, .8);
			    }
			}
			&:after {
				content: "";
				position: absolute;
				bottom: 0px;
				left: 0;
				right: 0;
				width: 30%;
				margin: 0 auto;
				height: 1px;
				//background: #e4e9f0;
				margin-bottom: 2px;
			}
		}
		.user-information {
		    display: block;
		    margin-left: -15px;
			margin-right: -15px;
			position: relative;
			z-index: 1;
			.user-stats {
				position: relative;
				padding: 8px 10px;
				margin-bottom: 0;
				color: #626a70;
				display: block;
				clear: both;
				text-shadow: 0 1px 0 rgba(255,255,255,0.52);
				.user-stats-item {
					width: 45%;
					display: inline-block;
					font-size: 16px;
					font-weight: 600;
					text-align: center;
					position: relative;
					/* float: left; */
					margin: 0 auto;
					&:before {
						position: relative;
						content: "";
						font-size: 9px;
						font-weight: 600;
						display: block;
						color: rgba(98,106,112,0.52);
						text-transform: uppercase;
					}
					&.posts {
						&:before {
							content: "Posts";
						}
					}
					&.followers {
						&:before {
							content: "Followers";
						}
					}
				}
			}
			.user-footer {
				margin-bottom: 0;
				display: block;
				position: relative;
				left: 0;
				bottom: 0;
				right: 0;
				padding: 10px 0;
				padding-top: 10px;
				background: transparent;
				border-top: 1px solid rgba(228,233,240,0.64);
				z-index: 1;
	  			.user-follow-btn {
		  			margin: 0 auto;
		  			width: 85%;
					strong {
						font-weight: 600;
					}
				}
			}
			.user-gutter {
				position: absolute;
				right: 5px;
				font-size: 11px;
				bottom: -5px;
				color: rgba(0, 0, 0, 0.78);
				text-align: right;
				float: right;
				.opacity(.58);
				strong {
					font-weight: 600;
				}
			}
		}
	}
	.user-collection {
		// @todo: use .hide
		display: _block;
		display: none;
		visibility: hidden;
		
		position: relative;
		margin-left: -1px;
		margin-right: -1px;
		box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.24);
		border-left: 1px solid rgba(0, 0, 0, 0.1);
		border-right: 1px solid rgba(0, 0, 0, 0.1);
		&:before {
			position: absolute;
			content: "";
			height: 1px;
			width: 100%;
			left: 0;
			right: 0;
			top: 0px;
			background: rgba(0, 0, 0, 0.14);
			z-index: 1;
		}
		.user-collection-faux {
		    width: 25%;
		    height: 44px;
		    float: left;
		    background: rgba(232, 235, 239, 0.54);
		    border: 1px solid rgba(232, 235, 239, 0.74);
		    border-right: none;
			&.main {
				float: left;
				height: 88px;
				width: 50%;
				background: rgba(232, 235, 239, 0.54);
				position: relative;
				margin-right: 0px;
				border-right: none;
				border-left: none;
				&:after {
				    content: "";
				    background: transparent;
				    position: absolute;
				    right: 0;
				    top: 0;
				    height: 100%;
				    width: 1px;
				}
			}
			&:nth-child(4),
			&:nth-child(5) {
				border-top: none;
			}
		}
	}
}


// spaces (for profile)
// @todo: change name to communities-*
.community-mini {
	text-align: center;
	position: relative;
	.community-mini-container {
		.community-mini-item {
			display: inline-block;
			margin: 0 auto;
			margin-bottom: 20px;
			height: 140px;
			width: 140px;
			position: relative;
			//
			overflow: hidden;
			.border-radius(3px);
			.community-mini-overlay {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				content: "";
				background-color: rgba(73,82,93,0.46);
			}
			.community-mini-img {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				z-index: -1;
				&:before {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					top: 0;
					z-index: -1;
					content: "";
					background: rgba(0, 0, 0, 0.46);
				}
			}
			.community-mini-cover {
				display: block;
				text-align: center;
				position: relative;
				width: 100%;
				height: 100%;
				.community-mini-title {
					vertical-align: middle;
					display: inline-block;
					text-align: center;
					width: 100%;
					color: #fff;
					font-weight: 600;
					font-size: 16px;
					letter-spacing: 0;
					padding-left: 10px;
					padding-right: 10px;
					max-height: 46px;
					text-transform: none;
					max-width: 100%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					position: absolute;
					bottom: 45%;
					left: 0;
					right: 0;
				}
				// hide, hover, mobile+
				.community-mini-followers {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 10px;
					color: #FFF;
					font-weight: 600;
					font-size: 16px;
					&:before {
						content: "Followers";
						position: relative;
						display: block;
						font-size: 9px;
						text-transform: uppercase;
						letter-spacing: .5px;
						font-weight: 600;
						color: rgba(255,255,255,0.65);
					}
				}
			}
		}
	}	
}

//
.comment--form {
	background: #f1f3f5;
	padding: 10px 15px;
	padding-bottom: 15px;
	margin-top: -7px;
	.comment--form-wrapper {
		background: #fff;
		position: relative;
		padding: 0;
		border: 1px solid #ced4dc;
		.border-radius(5px);
		text-align: left;
		z-index: 1;
		overflow: hidden;
		.comment--form-heading {
			font-size: 14px;
			letter-spacing: 0;
			border-bottom: 0;
			left: 0;
			right: 0;
			padding: 10px 15px 0px 15px;
			margin: -1px -1px 0px -1px;
			position: relative;
			height: 32px;
			font-weight: 600;
			-webkit-border-top-left-radius: 4px;
			-moz-border-top-left-radius: 4px;
			-ms-border-top-left-radius: 4px;
			-o-border-top-left-radius: 4px;
			border-top-left-radius: 4px;
			-webkit-border-top-right-radius: 4px;
			-moz-border-top-right-radius: 4px;
			-ms-border-top-right-radius: 4px;
			-o-border-top-right-radius: 4px;
			border-top-right-radius: 4px;
			-webkit-box-shadow: inset 0 1px 2px rgba(186, 191, 199, 0.64);
			-moz-box-shadow: inset 0 1px 2px rgba(186, 191, 199, 0.64);
			-ms-box-shadow: inset 0 1px 2px rgba(186, 191, 199, 0.64);
			-o-box-shadow: inset 0 1px 2px rgba(186, 191, 199, 0.64);
			box-shadow: inset 0 1px 2px rgba(186, 191, 199, 0.64);
		}
		.comment--form-subheading {
			color: rgba(98, 98, 98, 0.55);
			font-size: 12px;
			letter-spacing: 0;
			display: block;
			margin-bottom: 0;
			text-align: left;
			padding: 0 15px;
		}
		.comment--form-textarea {
			border: none;
			width: 100%;
			padding: 15px;
			resize: none;
			font-size: 14px;
		}
	}
}
