html {
	background-color: #e8ebef;
}

body {
	display: block;
	height: 100%;
	direction: ltr;
	unicode-bidi: embed;
	letter-spacing: 0;
	
	font-size: 14px;
	font-family: @font-family-sans-serif;
	letter-spacing: -0.02em;
	color: rgba(0, 0, 0, 0.8);
	background-color: transparent;
	line-height: 1.4;
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
}

// #alert_button_email_confirm {
// 	background: #fcfdba;
// 	color: #969900;
// 	.close {
// 		.opacity(.6);
// 		-webkit-transition: opacity 0.2s ease-in-out;
// 		transition: opacity 0.2s ease-in-out;
// 		color: #969900;
// 		&:hover {
// 			color: #969900;
// 			.opacity(1);
// 		}
// 	}
// }


// #content {
// 	-webkit-transition: opacity 150ms linear;
// 	-moz-transition: opacity 150ms linear;
// 	-ms-transition: opacity 150ms linear;
// 	-o-transition: opacity 150ms linear;
// 	transition: opacity 150ms linear;
	
// 	padding: 0 0 50px 0;
// 	margin: 0;
// 	width: 100%;

// 	&.ajaxifying {
// 		-moz-opacity: 0;
// 		opacity: 0;
// 		-ms-filter:~"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
// 	}
// }




