<ul component="posts" class="posts-list" data-nextstart="{nextStart}">
	<!-- BEGIN posts -->
	<div class="community-conversations col-md-4 col-sm-6 col-xs-12">
		<!-- IMPORT partials/profile/card.tpl -->
	</div>	
	<!-- END posts -->
</ul>
<div component="posts/loading" class="loading-indicator text-center hidden">
	<i class="fa fa-refresh fa-spin"></i>
</div>